* {
  margin: 0;
}








header {
  background-color: #232323;
  height: 70px;
  border: solid .5px white;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
}




.container-menu {
  display: flex;
  width: 100px;
  height: 60px;
  gap: 20px;
  align-items: center;
}




.menu {
  width: 50px;
  align-items: center;
  height: 50px;




}




.hamburguer {
  height: 700px;
  align-items: center;
  width: 300px;
  background-color: #cdcdcd;
  display: none;
  transition: all ease 1s;
  position: absolute;
}




.botao-hamburguer {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  background-color: white;
  height: 30px;
  gap: 90px;
  transition: .4s;
  margin-top: 08px;
  border: none;
}


.botao-hamburguer:hover {
  background-color: gray;
}


.itens-menu {
  display: flex;
  height: 700px;
  width: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}




.itens-menu a {
  color: black;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}




.container-hamburguer {
  display: flex;




}




.container-login {
  height: 30px;
  width: 30px;
}




.container-login button {
  width: 50px;




}




.login-botao button {
  width: 90px;
  height: 30px;
  border: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}




.h1-menu h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  color: #F8C64F;
}


main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
}

.container-senha {
  border: 1px solid white;
  display: flex;
  background-color: none;
  border-radius: 10px;
  height: 400px;
  align-items: center;
  width: 500px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  flex-direction: column;
}

.container-input {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 1px;
  flex-direction: column;
}

.container-inputs {
  display: flex;
  border: none;
  outline: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.botao-confirmar {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  background-color: black;
}

.senha-esqueceu {
  align-items: center;
  display: flex;
  color: #cdcdcd;
  font-size: 30px;
  justify-content: center;
}

.email-confirme {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 05px
}

.container-texto {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.texto-container {
  font-size: 14px;
  color: #cdcdcd;
}

.container-botao {
  width: 400px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.container-h1 {
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
  padding: 10px;
}

.container-h1 h1 {
  font-size: 30px;
  color: #F8C64F;
}

footer {
  background-color: #cdcdcd;
  padding: 20px 10px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}


.image-redesocial1 a:hover {
  text-decoration: underline;
}

.image-redesocial a:hover {
  text-decoration: underline;
}

.menu-item {
  text-decoration: none;
}

.image-twitter1 {
  height: 31px;
  display: flex;
  gap: 10px;
  justify-content: left;
  align-items: center;
}

.image-gmail1 {
  gap: 10px;
  height: 31px;
  justify-content: left;
  display: flex;
  align-items: center;
}

.image-instagram1 {
  height: 31px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: left;
}